In [1]:
import pandas as pd

df = pd.read_csv('../data/survey_results_public.csv', index_col='Respondent')
schema = pd.read_csv('../data/survey_results_schema.csv', index_col='Column')
df.info()
pd.set_option('display.max_rows', 200)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64461 entries, 1 to 65112
Data columns (total 60 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   MainBranch                    64162 non-null  object
 1   Hobbyist                      64416 non-null  object
 2   Age                           45446 non-null  float64
 3   Age1stCode                    57900 non-null  object
 4   CompFreq                      40069 non-null  object
 5   CompTotal                     34826 non-null  float64
 6   ConvertedComp                 34756 non-null  float64
 7   Country                       64072 non-null  object
 8   CurrencyDesc                  45472 non-null  object
 9   CurrencySymbol                45472 non-null  object
 10  DatabaseDesireNextYear        44070 non-null  object
 11  DatabaseWorkedWith            49537 non-null  object
 12  DevType                       49370 non-null  object
 13  EdLevel                       57431 non-null  object
 14  Employment                    63854 non-null  object
 15  Ethnicity                     45948 non-null  object
 16  Gender                        50557 non-null  object
 17  JobFactors                    49349 non-null  object
 18  JobSat                        45194 non-null  object
 19  JobSeek                       51727 non-null  object
 20  LanguageDesireNextYear        54113 non-null  object
 21  LanguageWorkedWith            57378 non-null  object
 22  MiscTechDesireNextYear        42379 non-null  object
 23  MiscTechWorkedWith            40314 non-null  object
 24  NEWCollabToolsDesireNextYear  47287 non-null  object
 25  NEWCollabToolsWorkedWith      52883 non-null  object
 26  NEWDevOps                     42686 non-null  object
 27  NEWDevOpsImpt                 41732 non-null  object
 28  NEWEdImpt                     48465 non-null  object
 29  NEWJobHunt                    42286 non-null  object
 30  NEWJobHuntResearch            41022 non-null  object
 31  NEWLearn                      56156 non-null  object
 32  NEWOffTopic                   50804 non-null  object
 33  NEWOnboardGood                42623 non-null  object
 34  NEWOtherComms                 57205 non-null  object
 35  NEWOvertime                   43231 non-null  object
 36  NEWPurchaseResearch           37321 non-null  object
 37  NEWPurpleLink                 54803 non-null  object
 38  NEWSOSites                    58275 non-null  object
 39  NEWStuck                      54983 non-null  object
 40  OpSys                         56228 non-null  object
 41  OrgSize                       44334 non-null  object
 42  PlatformDesireNextYear        50605 non-null  object
 43  PlatformWorkedWith            53843 non-null  object
 44  PurchaseWhat                  39364 non-null  object
 45  Sexuality                     43992 non-null  object
 46  SOAccount                     56805 non-null  object
 47  SOComm                        56476 non-null  object
 48  SOPartFreq                    46792 non-null  object
 49  SOVisitFreq                   56970 non-null  object
 50  SurveyEase                    51802 non-null  object
 51  SurveyLength                  51701 non-null  object
 52  Trans                         49345 non-null  object
 53  UndergradMajor                50995 non-null  object
 54  WebframeDesireNextYear        40024 non-null  object
 55  WebframeWorkedWith            42279 non-null  object
 56  WelcomeChange                 52683 non-null  object
 57  WorkWeekHrs                   41151 non-null  float64
 58  YearsCode                     57684 non-null  object
 59  YearsCodePro                  46349 non-null  object
dtypes: float64(4), object(56)
memory usage: 30.0+ MB

In [2]:
# Get Standard Statical data on a DataFrame with .describe()
df.describe()

                Age      CompTotal  ConvertedComp   WorkWeekHrs
count  45446.000000   3.482600e+04   3.475600e+04  41151.000000
mean      30.834111  3.190464e+242   1.037561e+05     40.782174
std        9.585392            inf   2.268853e+05     17.816383
min        1.000000   0.000000e+00   0.000000e+00      1.000000
25%       24.000000   2.000000e+04   2.464800e+04     40.000000
50%       29.000000   6.300000e+04   5.404900e+04     40.000000
75%       35.000000   1.250000e+05   9.500000e+04     44.000000
max      279.000000  1.111111e+247   2.000000e+06    475.000000

In [3]:
# This Years (2020) survey doesn't have a SocialMedia Column
# So lets get more data on Salary based on Country
series = df.groupby('Country')['ConvertedComp']
median_salary = series.median()
max_salary = series.max()
min_salary = series.min()
mean_salary = series.mean()
salary_df = pd.DataFrame({'Max': max_salary, 'Min': min_salary, "Median": median_salary, 'Mean': mean_salary})
salary_df.loc[['United States', 'India', 'China', 'United Kingdom']]

                      Max  Min    Median           Mean
Country
United States   2000000.0  0.0  115000.0  208826.496443
India           1800000.0  0.0   10056.0   28751.271364
China            857352.0  5.0   35861.5   61493.567308
United Kingdom  1000000.0  0.0   67215.0  140849.074189

In [4]:
country_grp = df.groupby('Country')
# country_grp.get_group('United States')

# There's a better way
country_grp['DevType'].value_counts().loc['India']

DevType
Developer, full-stack                                             549
Developer, back-end                                               419
Developer, mobile                                                 346
Developer, back-end;Developer, front-end;Developer, full-stack    289
Developer, front-end                                              215
                                                                 ...
Engineer, data;Engineer, site reliability;System administrator      1
Engineer, data;Product manager;Senior executive/VP                  1
Engineer, data;System administrator                                 1
Engineer, site reliability;System administrator                     1
Engineering manager;Product manager;Scientist                       1
Name: DevType, Length: 1362, dtype: int64

In [5]:
df[(df['Country'] == 'India') & (df['LanguageWorkedWith'].str.contains('Python'))]

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,
22,I am a developer by profession,Yes,NaN,18,Monthly,NaN,NaN,India,Indian rupee,INR,...,Easy,Appropriate in length,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,50.0,10,2
63,I am a student who is learning to code,Yes,21.0,17,NaN,NaN,NaN,India,NaN,NaN,...,Easy,Appropriate in length,No,NaN,Angular.js;Django;jQuery;Laravel;Vue.js,NaN,Not applicable - I did not use Stack Overflow ...,NaN,4,NaN
227,I am a developer by profession,Yes,24.0,19,Yearly,840000.0,11728.0,India,Indian rupee,INR,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Gatsby,Flask;Spring,Somewhat more welcome now than last year,45.0,5,2
232,I am a student who is learning to code,No,20.0,12,NaN,NaN,NaN,India,NaN,NaN,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;jQuery;Laravel,Flask,Just as welcome now as I felt last year,NaN,7,NaN
234,I am a developer by profession,Yes,22.0,16,NaN,NaN,NaN,India,NaN,NaN,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",Django;Flask,Angular;Angular.js;Django;Flask;jQuery,Just as welcome now as I felt last year,NaN,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32165,NaN,Yes,20.0,12,NaN,NaN,NaN,India,NaN,NaN,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core;Django,ASP.NET Core;Django;Drupal;jQuery,Just as welcome now as I felt last year,NaN,8,NaN
37383,NaN,Yes,NaN,NaN,NaN,NaN,NaN,India,NaN,NaN,...,NaN,NaN,NaN,NaN,Django,NaN,NaN,NaN,NaN,NaN
42965,NaN,Yes,NaN,NaN,NaN,NaN,NaN,India,NaN,NaN,...,NaN,NaN,NaN,NaN,Django;Flask,NaN,A lot more welcome now than last year,NaN,NaN,NaN
52184,NaN,Yes,20.0,17,NaN,NaN,NaN,India,NaN,NaN,...,Neither easy nor difficult,Appropriate in length,No,NaN,Angular;Angular.js;jQuery;Ruby on Rails;Vue.js,Django;Flask;React.js,Just as welcome now as I felt last year,NaN,3,NaN
54757,NaN,Yes,NaN,18,NaN,NaN,NaN,India,NaN,NaN,...,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",jQuery,jQuery,A lot less welcome now than last year,NaN,5,Less than 1 year

In [28]:
# Get number of respondents by Country
country_respondents = df['Country'].value_counts()
# Get number of repondents that know python, by country
country_python = country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
# Combine above series, renaming columns 
python_df = pd.concat({'Respondents': country_respondents, 'KnowsPython': country_python}, axis='columns', sort=False)
# Calculate Perctange of People that know Python per Country
python_df['PctKnowsPython'] = (python_df['KnowsPython']/python_df['Respondents']) * 100
# Sort Data - High to Low Percentage
python_df.sort_values(by='PctKnowsPython', ascending=False, inplace=True)
python_df

,Respondents,KnowsPython,PctKnowsPython
Saint Lucia,1,1,100.000000
"Micronesia, Federated States of...",1,1,100.000000
Gabon,1,1,100.000000
Montenegro,13,9,69.230769
Brunei Darussalam,3,2,66.666667
Guyana,5,3,60.000000
Swaziland,7,4,57.142857
Iceland,53,28,52.830189
Finland,349,183,52.435530
Uganda,81,42,51.851852
Burkina Faso,6,3,50.000000
Papua New Guinea,2,1,50.000000
Mauritania,4,2,50.000000
Belize,4,2,50.000000
Timor-Leste,2,1,50.000000
Solomon Islands,2,1,50.000000
Jamaica,14,7,50.000000
Cameroon,50,24,48.000000
United States,12469,5964,47.830620
Israel,653,307,47.013783
Ecuador,49,23,46.938776
Taiwan,158,73,46.202532
Canada,2191,1011,46.143314
Oman,11,5,45.454545
Estonia,145,65,44.827586
Ireland,444,199,44.819820
Japan,297,132,44.444444
Switzerland,629,278,44.197138
Germany,3890,1712,44.010283
France,1898,833,43.888303
Costa Rica,76,33,43.421053
Singapore,228,99,43.421053
Australia,1208,524,43.377483
Democratic Republic of the Congo,7,3,42.857143
Trinidad and Tobago,7,3,42.857143
Lao People's Democratic Republic,7,3,42.857143
China,371,158,42.587601
Peru,101,43,42.574257
Malta,47,20,42.553191
Algeria,94,40,42.553191
Zimbabwe,31,13,41.935484
Norway,384,160,41.666667
New Zealand,353,147,41.643059
United Kingdom,3896,1621,41.606776
Hong Kong (S.A.R.),111,46,41.441441
"Venezuela, Bolivarian Republic of...",70,29,41.428571
Slovenia,157,65,41.401274
Kenya,271,111,40.959410
Netherlands,1343,544,40.506329
Qatar,20,8,40.000000
Cyprus,50,20,40.000000
Barbados,5,2,40.000000
Sweden,886,353,39.841986
Poland,1278,509,39.827856
Republic of Korea,88,35,39.772727
Chile,181,71,39.226519
Czech Republic,500,195,39.000000
Kuwait,18,7,38.888889
South Korea,201,78,38.805970
Spain,1161,448,38.587425
Russian Federation,1092,421,38.553114
Syrian Arab Republic,13,5,38.461538
Senegal,26,10,38.461538
Greece,390,149,38.205128
Ghana,105,40,38.095238
Morocco,176,67,38.068182
Austria,539,205,38.033395
Portugal,388,147,37.886598
Italy,1117,422,37.779767
Belgium,459,173,37.690632
"Congo, Republic of the...",8,3,37.500000
Panama,24,9,37.500000
Kyrgyzstan,16,6,37.500000
Lithuania,171,64,37.426901
Hungary,371,138,37.196765
Sri Lanka,295,109,36.949153
Nepal,242,89,36.776860
Guatemala,49,18,36.734694
Denmark,397,144,36.272040
Iran,491,176,35.845214
Luxembourg,42,15,35.714286
Côte d'Ivoire,17,6,35.294118
Colombia,285,100,35.087719
Brazil,1818,635,34.928493
Turkey,777,269,34.620335
Paraguay,26,9,34.615385
Georgia,67,23,34.328358
Slovakia,188,64,34.042553
Argentina,395,134,33.924051
Lebanon,71,24,33.802817
Sierra Leone,6,2,33.333333
Bahamas,3,1,33.333333
Mongolia,12,4,33.333333
Eritrea,3,1,33.333333
Benin,9,3,33.333333
Mexico,540,179,33.148148
Uruguay,100,33,33.000000
Romania,604,196,32.450331
Latvia,111,36,32.432432
Nigeria,593,192,32.377740
United Republic of Tanzania,31,10,32.258065
Rwanda,31,10,32.258065
Nomadic,31,10,32.258065
Ethiopia,59,19,32.203390
South Africa,494,158,31.983806
Cuba,22,7,31.818182
India,8403,2670,31.774366
Thailand,148,47,31.756757
Malaysia,231,73,31.601732
Belarus,129,40,31.007752
Philippines,405,124,30.617284
Pakistan,809,246,30.407911
Serbia,306,93,30.392157
Maldives,10,3,30.000000
Togo,10,3,30.000000
Kazakhstan,61,18,29.508197
Sudan,34,10,29.411765
Bangladesh,609,179,29.392447
Ukraine,539,158,29.313544
Croatia,185,54,29.189189
The former Yugoslav Republic of Macedonia,38,11,28.947368
Honduras,21,6,28.571429
Mozambique,7,2,28.571429
Indonesia,499,142,28.456914
Egypt,281,79,28.113879
Viet Nam,364,102,28.021978
Tunisia,125,35,28.000000
Mauritius,18,5,27.777778
Bulgaria,323,89,27.554180
Iraq,44,12,27.272727
Armenia,64,17,26.562500
Bosnia and Herzegovina,96,25,26.041667
Libyan Arab Jamahiriya,8,2,25.000000
Malawi,8,2,25.000000
Isle of Man,8,2,25.000000
Botswana,8,2,25.000000
Bolivia,40,10,25.000000
Namibia,8,2,25.000000
Tajikistan,4,1,25.000000
Turkmenistan,4,1,25.000000
Albania,54,13,24.074074
Madagascar,21,5,23.809524
United Arab Emirates,115,27,23.478261
El Salvador,26,6,23.076923
Andorra,13,3,23.076923
Jordan,57,13,22.807018
Bahrain,9,2,22.222222
Saudi Arabia,90,20,22.222222
Azerbaijan,50,11,22.000000
Kosovo,34,7,20.588235
Guinea,5,1,20.000000
Haiti,5,1,20.000000
Republic of Moldova,50,10,20.000000
Nicaragua,35,7,20.000000
Myanmar,51,10,19.607843
Uzbekistan,41,8,19.512195
Zambia,21,4,19.047619
Dominican Republic,72,13,18.055556
Somalia,18,3,16.666667
Yemen,7,1,14.285714
Bhutan,7,1,14.285714
Afghanistan,84,11,13.095238
Cambodia,31,4,12.903226
Angola,9,1,11.111111
Cape Verde,2,0,0.000000
Gambia,4,0,0.000000
Chad,1,0,0.000000
Kiribati,1,0,0.000000
North Korea,1,0,0.000000
Liechtenstein,1,0,0.000000
Grenada,1,0,0.000000
Niger,5,0,0.000000
Nauru,1,0,0.000000
Lesotho,1,0,0.000000
San Marino,2,0,0.000000
Saint Vincent and the Grenadines,3,0,0.000000
Fiji,1,0,0.000000
Marshall Islands,1,0,0.000000
Antigua and Barbuda,2,0,0.000000
Djibouti,2,0,0.000000
Monaco,2,0,0.000000
Burundi,2,0,0.000000
Mali,1,0,0.000000

In [26]:
python_df.loc['Japan']

Respondents       297.000000
KnowsPython       132.000000
PctKnowsPython     44.444444
Name: Japan, dtype: float64